<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analyzer</title>
</head>
<body>
    <h1 style="text-align: center;">Text Analyzer</h1>
    <p style="text-align: center;">Please enter your text below</p>
    <form action="analyzed-text" method="get">
        <textarea style="margin-left: 250px; width: 1000px; height: 200px;" name="input_text"></textarea>
        <br>
        <input style="margin-left: 250px;" type="checkbox" name="remove_punctuation">Remove Punctuation
        <br>
        <input style="margin-left: 250px;" type="checkbox" name="remove_space">Remove Spaces
        <br>
        <input style="margin-left: 250px; margin-bottom: 20px;" type="checkbox" name="capitalize">Capitalize
        <br>              
        <button style="margin-left: 250px;" type="submit">Analyze Text</button>
    </form>
    

</body>
</html>